<h1 id="title" class="title">Login</h1>
<p class="sub-title">Hello! Log in with your email.</p>




<form #form="ngForm" aria-labelledby="title">

  <div class="form-control-group">
    <label class="label" for="input-email">Email address:</label>
    <input nbInput
           fullWidth
           pattern=".+@.+\..+"
           placeholder="Email address"
           fieldSize="large"
           autofocus
           
          type="email"
          name="email"
          ngModel
          required
          #emailInput="ngModel">
    <ng-container *ngIf="emailInput.invalid && emailInput.touched">
      <p class="caption status-danger" *ngIf="emailInput.errors?.required">
        Email is required!
      </p>
      <p class="caption status-danger" *ngIf="emailInput.errors?.pattern">
        Email should be the real one!
      </p>
    </ng-container>
  </div>

  <div class="form-control-group">
    <span class="label-with-link">
      <label class="label" for="input-password">Password:</label>
      <a class="forgot-password caption-2" routerLink="../request-password">Forgot Password?</a>
    </span>
    <input nbInput
          fullWidth
          fieldSize="large"
          type="password"
          minlength="4"
          
          ngModel
          name="password"
          placeholder="Password"
          required
          #pwdInput="ngModel"
           >
    <ng-container *ngIf="pwdInput.invalid && pwdInput.touched ">
      <p class="caption status-danger" *ngIf="pwdInput.errors?.required">
        Password is required!
      </p>
      <p class="caption status-danger" *ngIf="pwdInput.errors?.minlength">
        Password should contain more than 4  characters
      </p>
     
    </ng-container>
  </div>

  <div class="form-control-group accept-group">
    <nb-checkbox id="inputCall1"
    name="inputCheckboxesCall" >Remember me</nb-checkbox>
  </div>


  <button nbButton
          fullWidth
          status="primary"
          size="large"
          [disabled]="!form.valid"
          (click)="login(form)"
          >
    Log In
  </button>
</form>

