<h1>{{sujet.titre}}</h1>
<div class="accordions-container row">
  <div class="accordion-container col-md-12 col-lg-6 col-xxxl-6">


        <nb-card >
            <nb-card-header >Nom et Prenom de l'étudiant </nb-card-header>
            <nb-card-body>

             {{sujet.etudiant.userDetails.nom | titlecase}} {{sujet.etudiant.userDetails.prenom | titlecase}}
            </nb-card-body>
          </nb-card>

          <nb-card >
            <nb-card-header > Filière </nb-card-header>
            <nb-card-body>

              {{sujet.etudiant.filiere}}
            </nb-card-body>
          </nb-card>
          <nb-card>
            <nb-card-header >Encadrant</nb-card-header>
            <nb-card-body>

              {{sujet.encadrant.userDetails.nom|titlecase}} {{sujet.encadrant.userDetails.prenom|titlecase}}

            </nb-card-body>
          </nb-card>
          <nb-accordion multi>
        <nb-accordion-item>
          <nb-accordion-item-header>
            Description du sujet
          </nb-accordion-item-header>
          <nb-accordion-item-body>
            {{sujet.description}}
          </nb-accordion-item-body>
        </nb-accordion-item>
    </nb-accordion>

    <nb-card style="margin-top: 5%;" >
      <nb-card-header >Approbation par L'administration de l'INSAT </nb-card-header>
      <nb-card-body>

        <div *ngIf="!sujet.lettreAffectationPfe">
          En attente d'approbation

        </div>


        <div *ngIf="sujet.lettreAffectationPfePfe">
          Ap: vous pouvez telecharger la lettre d'affectation:
        <button (click)="handleDownloadLettreAffirmation(
            +sujet.lettreAffectationPfe.id,
            'LettreAffirmation_'+
            sujet.etudiant.userDetails.nom+'_'+
            sujet.etudiant.userDetails.prenom+
            '.pdf')" >
            <i class="fa fa-download" aria-hidden="true"></i>
          </button>
        </div>

      </nb-card-body>
    </nb-card>

    <nb-card >
      <nb-card-header >Date limite de depot de rapport </nb-card-header>
      <nb-card-body>

        <span *ngIf="sujet.dateLimiteDepot">{{sujet.dateLimiteDepot | date:'medium'}}</span>
        <span *ngIf="!sujet.dateLimiteDepot">En attente de l'administration</span>

      </nb-card-body>
  </nb-card>

  </div>

  <div class="accordion-container col-md-12 col-lg-6 col-xxxl-6">



        <nb-card >
            <nb-card-header >Derniere modification effectuée: </nb-card-header>
            <nb-card-body>

              {{sujet.updatedAt | date:'medium'}}
            </nb-card-body>

      </nb-card>

      <nb-card style="margin-top: 5%;">
        <nb-card-header > Rapport en PDF</nb-card-header>


        <nb-card-body >
          <button *ngIf="sujet.rapportPfe" (click)="handleDownloadRapportPfe(
            +sujet.rapportPfe.id,
            'RapportPfe_'+
            sujet.etudiant.userDetails.nom+'_'+
            sujet.etudiant.userDetails.prenom+
            '.pdf')" >
            <i class="fa fa-download" aria-hidden="true"></i>
          </button>
          <span *ngIf="!sujet.rapportPfe">Pas Encore</span>
        </nb-card-body>


        <nb-card-body *ngIf="role=='user'" >
        <!-- <button nbButton  style="margin-left: 55%;" >Déposer votre rapport ici</button> -->
        <form #uploadRapport="ngForm">
          <input
        type="file"
        class="form-control-file"
        id="rapportFile"
        name="rapport"
        ngModel
        required
        #fileInput="ngModel"
        (change)="onFileChange($event,uploadRapport)"
      />
        </form>

        </nb-card-body>
        </nb-card>



        <nb-card >
          <nb-card-header >Date de soutenance </nb-card-header>
          <nb-card-body>

            {{sujet.soutenance?.dateDePassage | date:'medium'}}
          </nb-card-body>
        </nb-card>

          <nb-card >
            <nb-card-header >Salle de soutenance </nb-card-header>
            <nb-card-body>

              {{sujet.soutenance?.salle.code}}
          </nb-card-body>

      </nb-card>
    <nb-accordion multi>

        <nb-accordion-item>
          <nb-accordion-item-header>
            Membres de la jury
          </nb-accordion-item-header>
          <nb-accordion-item-body>
            President de jury: {{sujet.soutenance?.jury.president.userDetails.nom|titlecase}} {{sujet.soutenance?.jury.president.userDetails.prenom|titlecase}} <br><br>
            Membre 1: {{sujet.soutenance?.jury.members[0].userDetails.nom|titlecase}} {{sujet.soutenance?.jury.members[0].userDetails.prenom|titlecase}} <br><br>
            Membre 2: {{sujet.soutenance?.jury.members[1].userDetails.nom|titlecase}} {{sujet.soutenance?.jury.members[1].userDetails.prenom|titlecase}}  <br><br>

          </nb-accordion-item-body>
        </nb-accordion-item>
      </nb-accordion>
      <nb-card style="margin-top: 5%;">
        <nb-card-header > Fiche de proposition de stage

          <button (click)="handleDownloadFicheProposition(
              +sujet.fichePropositionPfe.id,
              'FicheProposition_'+
              sujet.etudiant.userDetails.nom+'_'+
              sujet.etudiant.userDetails.prenom+
              '.pdf')" >
              <i class="fa fa-download" aria-hidden="true"></i>
            </button>

        </nb-card-header>

      </nb-card>
  </div>
</div>
