<h1>{{soutenance.sujet.titre}}</h1>
<div class="accordions-container row">
  <div class="accordion-container col-md-12 col-lg-6 col-xxxl-6">


        <nb-card >
            <nb-card-header >Nom et Prenom de l'étudiant </nb-card-header>
            <nb-card-body>

             {{soutenance.sujet.etudiant.userDetails.nom}} {{soutenance.sujet.etudiant.userDetails.prenom}}
            </nb-card-body>
          </nb-card>

          <nb-card >
            <nb-card-header > Filière </nb-card-header>
            <nb-card-body>

              {{soutenance.sujet.etudiant.filiere}}
            </nb-card-body>
          </nb-card>
          <nb-card>
            <nb-card-header >Encadrant</nb-card-header>
            <nb-card-body>

              {{soutenance.sujet.encadrant.userDetails.nom}} {{soutenance.sujet.encadrant.userDetails.prenom}}

            </nb-card-body>
          </nb-card>
          <nb-accordion multi>
        <nb-accordion-item>
          <nb-accordion-item-header>
            Description du sujet
          </nb-accordion-item-header>
          <nb-accordion-item-body>
            {{soutenance.sujet.description}}
          </nb-accordion-item-body>
        </nb-accordion-item>
    </nb-accordion>

    <nb-card style="margin-top: 5%;" >
      <nb-card-header >Approbation par L'administration de l'INSAT </nb-card-header>
      <nb-card-body>

        <div *ngIf="!soutenance.sujet.lettreAffirmation">
          En attente d'approbation

        </div>


        <div *ngIf="soutenance.sujet.lettreAffirmation">
          Ap: vous pouvez telecharger la lettre d'affectation:
        <button (click)="handleDownloadLettreAffirmation(
            +soutenance.sujet.lettreAffirmation.id,
            'LettreAffirmation_'+
            soutenance.sujet.etudiant.userDetails.nom+'_'+
            soutenance.sujet.etudiant.userDetails.prenom+
            '.pdf')" >
            <i class="fa fa-download" aria-hidden="true"></i>
          </button>
        </div>

      </nb-card-body>
    </nb-card>

    <nb-card >
      <nb-card-header >Date limite de depot de rapport </nb-card-header>
      <nb-card-body>

        <span *ngIf="soutenance.sujet.dateLimiteDepot">{{soutenance.sujet.dateLimiteDepot | date:'yyyy-mm-dd'}}</span>
        <span *ngIf="!soutenance.sujet.dateLimiteDepot">En attente de l'administration</span>

      </nb-card-body>
  </nb-card>

  </div>

  <div class="accordion-container col-md-12 col-lg-6 col-xxxl-6">



        <nb-card >
            <nb-card-header >Derniere modification effectuée: </nb-card-header>
            <nb-card-body>

              {{soutenance.updatedAt | date:'yyyy-mm-dd'}}
            </nb-card-body>

      </nb-card>

      <nb-card style="margin-top: 5%;">
        <nb-card-header > Rapport en PDF

          <button (click)="handleDownloadRapportPfe(
            +soutenance.sujet.rapportPfe.id,
            'RapportPfe_'+
            soutenance.sujet.etudiant.userDetails.nom+'_'+
            soutenance.sujet.etudiant.userDetails.prenom+
            '.pdf')" >
            <i class="fa fa-download" aria-hidden="true"></i>
          </button>

        </nb-card-header>
        <nb-card-body *ngIf="role=='user'" >
        <!-- <button nbButton  style="margin-left: 55%;" >Déposer votre rapport ici</button> -->
        <form #uploadRapport="ngForm">
          <input
        type="file"
        class="form-control-file"
        id="rapportFile"
        name="rapport"
        ngModel
        required
        #fileInput="ngModel"
        (change)="onFileChange($event,uploadRapport)"
      />
        </form>

        </nb-card-body>
        </nb-card>



        <nb-card >
          <nb-card-header >Date de soutenance </nb-card-header>
          <nb-card-body>

            {{soutenance.dateDePassage | date:'yyyy-mm-dd'}}
          </nb-card-body>
        </nb-card>

          <nb-card >
            <nb-card-header >Salle de soutenance </nb-card-header>
            <nb-card-body>

              {{soutenance.salle.code}}
          </nb-card-body>

      </nb-card>
    <nb-accordion multi>

        <nb-accordion-item>
          <nb-accordion-item-header>
            Membres de la jury
          </nb-accordion-item-header>
          <nb-accordion-item-body>
            President de jury: {{soutenance.jury.president.userDetails.nom}} {{soutenance.jury.president.userDetails.prenom}} <br><br>
            Membre 1: {{soutenance.jury.members[0].userDetails.nom}} {{soutenance.jury.members[0].userDetails.prenom}} <br><br>
            Membre 2: {{soutenance.jury.members[1].userDetails.nom}} {{soutenance.jury.members[1].userDetails.prenom}}  <br><br>

          </nb-accordion-item-body>
        </nb-accordion-item>
      </nb-accordion>
      <nb-card style="margin-top: 5%;">
        <nb-card-header > Fiche de proposition de stage

          <button (click)="handleDownloadFicheProposition(
              +soutenance.sujet.lettreAffirmation.id,
              'FicheProposition_'+
              soutenance.sujet.etudiant.userDetails.nom+'_'+
              soutenance.sujet.etudiant.userDetails.prenom+
              '.pdf')" >
              <i class="fa fa-download" aria-hidden="true"></i>
            </button>

        </nb-card-header>

      </nb-card>
  </div>
</div>
