<div class="blog-card">
  <div class="meta">
    <ul class="details">
      <li style="margin-top: 5%;">Nom:
        {{sujet.nomEtudiant}}
        <br>
    </li>
    <li style="margin-top: 5%;">Prenom:
      {{sujet.prenomEtudiant}}
      <br>
    </li>
      <li  style="margin-top: 5%;">Filiere :
        {{sujet.filiereEtudiant}}<br>
         </li>
      <div *ngIf="sujet.SujetdateLimiteDepo">
        <li  style="margin-top: 5%;">Date limite:
          {{sujet.SujetdateLimiteDepot | date:'yyyy-mm-dd'}}
          <br>
        </li>
      </div>
      <div *ngIf="!sujet.SujetdateLimiteDepo">
        <li  style="margin-top: 5%;">Date limite:
          Pas Encore Mis
          <br>
        </li>
      </div>


    </ul>
  </div>
  <div class="description">
    <h1>{{sujet.titreSujet}}</h1>
    <p>{{sujet.sujetDescription}}</p>
    <p class="read-more">
      <a routerLink="details/{{sujet.idSoutenance}}" >Details de pfe</a>
    </p>
  </div>
</div>

