<div class="blog-card">
  <div class="meta">
    <ul class="details">
      <li class="author">Nom et prenom:
        {{sujet.nomEtudiant}} {{sujet.prenomEtudiant}}
        <br>
    </li>
      <li class="author"style="margin-top: 5%;">Filiere :
        {{sujet.filiereEtudiant}}<br>
         </li>
      <li class="author" style="margin-top: 5%;">Date limite:
        {{sujet.SujetdateLimiteDepot | date:'yyyy-mm-dd'}}
        <br>

      </li>

    </ul>
  </div>
  <div class="description">
    <h1>{{sujet.titreSujet}}</h1>
    <p>{{sujet.sujetDescription}}</p>
    <p class="read-more">
      <a routerLink="details/{{sujet.idSoutenance}}" > Details de pfe</a>
    </p>
  </div>
</div>

