<div class="blog-card">
  <div class="meta">
    <ul class="details">
      <li style="margin-top: 5%;">Nom:
        {{sujet.etudiant.userDetails.nom| titlecase}}
        <br>
    </li>
    <li style="margin-top: 5%;">Prenom:
      {{sujet.etudiant.userDetails.prenom | titlecase}}
      <br>
    </li>
      <li  style="margin-top: 5%;">Filiere :
        {{sujet.etudiant.filiere}}<br>
         </li>
      <div *ngIf="sujet.dateLimiteDepot">
        <li  style="margin-top: 5%;">Date limite:
          {{sujet.dateLimiteDepot | date:'medium'}}
          <br>
        </li>
      </div>
      <div *ngIf="!sujet.dateLimiteDepot">
        <li  style="margin-top: 5%;">Date limite:
          Pas Encore Mis
          <br>
        </li>
      </div>


    </ul>
  </div>
  <div class="description">
    <h1>{{sujet.titre}}</h1>
    <p>{{sujet.description}}</p>
    <p class="read-more">
      <a routerLink="details/{{sujet.id}}" >Details de pfe</a>
    </p>
  </div>
</div>

